<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Library
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block custom_css %} {% endblock custom_css %}
  </head>
  <body>



    <header>
    </header>


    <div id="root"></div>



    <script href="{{ url_for('static', filename='./js/react.production.min.js') }}"></script>
    <script href="{{ url_for('static', filename='./js/react-dom.production.min.js') }}"></script>
    <script href="{{ url_for('static', filename='./js/react-router.min.js') }}"></script>
    <script href="{{ url_for('static', filename='./js/react-router-dom.min.js') }}"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


  </body>
</html>
