body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-content {
    box-shadow: 5px 5px 5px 5px lightgrey;
    padding: 3em;
    margin-top: 1.5em;
}

@media (max-width: 768px) {
    #main-content {
        box-shadow: 5px 5px 5px 5px lightgrey;
        padding: 3em;
        margin-top: 5em;
    }
}

.dropdown-toggle {
    border-left:4px solid rgb(180, 180, 180);
    border-top: 2px solid rgb(180, 180, 180);   
    border-right: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.dropdown-menu li {
    padding-left: 10px;
}

.panel-default {
    margin-top: 20px;
}

.page-header h1 {
    text-align: center;
}

.page-header {
    margin-top: 0px;
}

#add-button {
    float: right;
    margin-bottom: 10px;
}

#submit-button {
    margin-top: 40px;
    width: 100px;
}

#author-tags-errors {
    color: red;
}

#comment-type-dropdown {
    margin-left: 1em;
}

#sorting-menu-dropdown {
    margin-right: 1em;
}

#sort-up {
    float: right;
    margin-left: 15px;
}

#sort-down {
    float: right;
}

#expansion-contraction-button {
    text-align: center;
}

#toggle-password {
    float: right;
}

#change-password-div {
    margin: 15px 10px 10px 10px;
}

#expand-comment {
    margin-right: 5px;
}

.delete-button {
    float:right;
}

.comment {
    background-color: #F9F5F5;
}

.comment-content {
    margin: 20px;
    padding: 1em;
}

.comment-topic {
    margin-top: 10px;
    padding-left: 10px;
    border-style: dotted none none dotted;
}

.comment-info {
    margin: 10px 10px 10px 0px;
}

.attitude-button {
    margin-left: 20px;
}

.username {
    color: blue;
}

.edit-impossible-warning {
    margin-left: 5px;
    color: red;
}

.well {
    margin-left: 1em;
    margin-right: 1em;
}

.focused-comment {
    background-color: rgb(153, 204, 255);
}

.remove-book-button {
    margin-bottom: 5px;
}

.active-navlink {
    font-weight: bold;
}

.user-dropdown-a {
    margin-left: 15px;
}

.letter-buttons {
    border-right: 1px solid rgb(255, 204, 204);
    border-bottom: 1px solid rgb(255, 204, 204);
    margin: 1px 1px 1px 1px;
}
